<div class="modal fade" id="respect" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What is Respect and Humility?</h4>
      </div>
      <div class="modal-body">
        <% @respect_questions.each do |q| %>
        <p><%= q.question %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="integrity" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What is Integrity?</h4>
      </div>
      <div class="modal-body">
        <% @integrity_questions.each do |q| %>
        <p><%= q.question %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="perseverance" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What is Perseverance?</h4>
      </div>
      <div class="modal-body">
        <% @integrity_questions.each do |q| %>
        <p><%= q.question %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="passion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What is Passion?</h4>
      </div>
      <div class="modal-body">
        <% @integrity_questions.each do |q| %>
        <p><%= q.question %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="empowerment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What is Empowerment?</h4>
      </div>
      <div class="modal-body">
        <% @integrity_questions.each do |q| %>
        <p><%= q.question %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="team" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">What is Team, Love, and Family?</h4>
      </div>
      <div class="modal-body">
        <% @integrity_questions.each do |q| %>
        <p><%= q.question %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
