<br><br>
<table class="table paddedtable">
	<thead>
		<th></th>
		<% @checkins.each do |c| %>
			<th><%= link_to c.created_at.strftime("%B %e"), checkin_path(c) %></th>
		<% end %>
	</thead>
	<tbody>
		<tr>
			<td>Respect</td>
			<% @respect_scores.each do |score| %>
				<td class="<%= css(score) %>"><%= score %>%</td>
			<% end %>
		</tr>
		<tr>
			<td>Integrity</td>
			<% @integrity_scores.each do |score| %>
				<td class="<%= css(score) %>"><%= score %>%</td>
			<% end %>
		</tr>
		<tr>
			<td>Perseverance</td>
			<% @perseverance_scores.each do |score| %>
				<td class="<%= css(score) %>"><%= score %>%</td>
			<% end %>
		</tr>
		<tr>
			<td>Passion</td>
			<% @passion_scores.each do |score| %>
				<td class="<%= css(score) %>"><%= score %>%</td>
			<% end %>
		</tr>
		<tr>
			<td>Empowerment</td>
			<% @empowerment_scores.each do |score| %>
				<td class="<%= css(score) %>"><%= score %>%</td>
			<% end %>
		</tr>
		<tr>
			<td>Team</td>
			<% @team_scores.each do |score| %>
				<td class="<%= css(score) %>"><%= score %>%</td>
			<% end %>
		</tr>
		<tr class="info">
			<td><strong>Averages</strong></td>
			<% @total_scores.each do |score| %>
				<td><strong><%= score %>%</strong></td>
			<% end %>
		</tr>
		<tr>
			<td>Comments</td>
			<% @comments.each do |c| %>
				<td><%= c.comment %></td>
			<% end %>
		</tr>
	</tbody>
</table>
