<%= form_tag(checkins_path, method: "post")%>
<% if flash[:errors] %>
<div class='errormessage text-center'>
    <%= flash[:errors] %>
  </div>
<% end %>
<% @questions.each do |question| %>
<div class="halftableleft">
  <table class='table'>
    <th><%= label_tag(question.question) %></th>
    <tbody>
      <tr><td><%= collection_select(:question, question.id, @options, :id, :option, prompt: true, :required => true) %></td></tr>
    </tbody>
  </table>
  <br>
</div>
<% end %>
<div class="actions">
  <table class="table">
    <thead>
      <th>Your Comments</th>
    </thead>
    <tbody>
      <tr>
        <td><%= text_area_tag(:comments, "", :class => "form-control") %></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <%= submit_tag("Check in!", class: 'btn btn-info btn-lg') %>
  </div>
</div>
