<%= form_tag(checkins_path, method: "post")%>
<% if flash[:errors] %>
<div class='errormessage text-center'>
    <%= flash[:errors] %>
  </div>
<% end %>
<% @questions.shuffle.each do |question| %>
<div class="questionbox">
    <h4><%= question.question %></h4>
      <%= collection_select(:question, question.id, @options, :id, :option, prompt: true, :required => true) %>
  <br>
</div>
<% end %>
<div class="actions">
  <table class="table">
    <thead>
      <th>Your Comments</th>
    </thead>
    <tbody>
      <tr>
        <td><%= text_area_tag(:comment, "", :class => "form-control") %></td>
      </tr>
    </tbody>
  </table>
  <div class="text-center">
    <%= submit_tag("Check in!", class: 'btn btn-info btn-lg') %>
  </div>
</div>
