<h3><%= @checkin.user.full_name if @checkin.user.user_type == "admin" %></h3>
<h5><% if @back_id %>
	<%= link_to '&larr;'.html_safe, checkin_path(@back_id) %> 
	<% end %> 
	<%= @checkin.created_at.strftime("%A, %B %e, %Y") %> 
	<% if @forward_id %>
	<%= link_to '&rarr;'.html_safe, checkin_path(@forward_id) %> </h5>
	<% end %>
	<br>
	<div class='halftableleft'>
		<table class="table">
			<thead>
				<th>Core Value</th>
				<th>Score</th>
			</thead>
			<tbody>
				<tr>
					<td><a data-toggle="modal" data-target="#respect">Respect and Humility</a></td>
					<td class="<%= css(@checkin.get_score(1)) %>"><%= @checkin.get_score(1) %></td>
				</tr>
				<tr>
					<td><a data-toggle="modal" data-target="#integrity">Integrity</a></td>
					<td class="<%= css(@checkin.get_score(2)) %>"><%= @checkin.get_score(2) %></td>
				</tr>
				<tr>
					<td><a data-toggle="modal" data-target="#perseverance">Perseverance</a></td>
					<td class="<%= css(@checkin.get_score(3)) %>"><%= @checkin.get_score(3) %></td>
				</tr>
				<tr>
					<td><a data-toggle="modal" data-target="#passion">Passion</a></td>
					<td class="<%= css(@checkin.get_score(4)) %>"><%= @checkin.get_score(4) %></td>
				</tr>
				<tr>
					<td><a data-toggle="modal" data-target="#empowerment">Empowerment</a></td>
					<td class="<%= css(@checkin.get_score(5)) %>"><%= @checkin.get_score(5) %></td>
				</tr>
				<tr>
					<td><a data-toggle="modal" data-target="#team">Team, Love, and Family</a></td>
					<td class="<%= css(@checkin.get_score(6)) %>"><%= @checkin.get_score(6) %></td>
				</tr>
			</tbody>
		</table>
		<br>
		<table class='table'>
			<thead>
				<th>Student Comments</th>
			</thead>
			<tbody>
				<% @student_comments.each do |c| %>
				<tr>
					<td><%= c.comment %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<br>
		<table class='table'>
			<thead>
				<th>Staff Comments</th>
			</thead>
			<tbody>
				<% @admin_comments.each do |c| %>
				<tr>
					<td><%= c.comment %></td>
				</tr>
				<tr>
					<td><%= c.user.last_name %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class='halftableright1'>
	<% if !@strongly_agree.nil? %>
		<table class="table">
			<thead>
				<th>Strongly Agree</th>
			</thead>
			<tbody>
					<% @strongly_agree.each do |a| %>
				<tr>
					<td><%= a.question.question %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<% if !@agree.nil? %>
		<table class="table">
			<thead>
				<th>Agree</th>
			</thead>
			<tbody>
					<% @agree.each do |a| %>
				<tr>
					<td><%= a.question.question %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>

		<% if !@neutral.nil? %>
		<table class="table">
			<thead>
				<th>Neutral</th>
			</thead>
			<tbody>
					<% @neutral.each do |a| %>
				<tr>
					<td><%= a.question.question %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<% if !@disagree.nil? %>
		<table class="table">
			<thead>
				<th>Disagree</th>
			</thead>
			<tbody>
					<% @disagree.each do |a| %>
				<tr>
					<td><%= a.question.question %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>

	<% if !@strongly_disagree.nil? %>
		<table class="table">
			<thead>
				<th>Strongly Disagree</th>
			</thead>
			<tbody>
					<% @strongly_disagree.each do |a| %>
				<tr>
					<td><%= a.question.question %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	<% end %>
	</div>

<%= render '/shared/modals' %>

