<p id="notice"><%= notice %></p>

<h3><%= @checkin.created_at.strftime("%A, %B %e, %Y") %></h3>

<h5 class=<%= css_color(@checkin.get_score(1)) %>>Respect and Humility: <%= @checkin.get_score(1) %></h5>
<h5>Integrity: <%= @checkin.get_score(2) %></h5>


<% @checkin.answers.each do |a| %>

<% end %>
